@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/images/baner.png);
}

.header-container .header-title {
  font-size: 35px;
  color: rgb(255, 255, 255);
  padding-bottom: 30px;
}

.header-container .para-title {
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding-bottom: 30px;
}

.header-container .btn-primary {
  padding: 10px 20px;
  font-size: 20px;
  background: #ff5959;
  border-radius: 5px;
  color: #fff;
  border-color: 1px solid #ff5959;
}

.donate-container {
  padding: 100px 350px;
  text-align: center;
}

.donate-container .donate-title {
  font-size: 35px;
  color: #000;
  padding-bottom: 30px;
}

.donate-container .para-title {
  font-size: 20px;
  color: rgb(100, 98, 98);
  padding-bottom: 40px;
}

.donate-container .taka {
  text-align: center;
  display: flex;
  gap: 20px;
}

.donate-container .taka .box {
  padding: 25px 15px;
  color: #707070;
  font-size: 30px;
  background: #fafafa;
  border-radius: 5px;
  
}

.donate-container input{
    padding: 10px 20px;
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 15px;
    border: none;
}
.donate-container hr{
    margin-bottom: 30px;
}

.donate-container .donate{
    padding: 10px 20px;
    font-size: 20px;
    background: #FF5959;
    border-radius: 5px;
    color: #fff;

}

.plan-container {
    padding: 100px 100px;
    /* text-align: center; */
  }

.plan-container .donate-title{
    font-size: 35px;
  color: #000;
  padding-bottom: 30px;
  text-align: center;
}

.plan-container .para-title {
    font-size: 20px;
    color: rgb(100, 98, 98);
    /* padding-bottom: 40px; */
    text-align: center;
    padding: 0 250px;

  }

  .plan-container .box-container{
    display: flex;
    align-items: none;
    gap: 80px;
    padding:30px 50px;
    margin-top: 40px;
  }

  .plan-container .box-container .box-1{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 60px 20px;
  }

  .plan-container .box-container .box-2{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 60px 20px;
  }

  .plan-container .box-container .box-3{
    background: #fff4d6;
    border-radius: 5px;
    padding: 60px 20px;
  }

  .plan-container .box-container .box-1 .title{
    font-size: 20px;
    color: #121212;
    padding-top: 30px;
    
  }

  .plan-container .box-container .box-1 .para{
    font-size: 15px;
    color: #707070;
    padding-top: 20px;
  }

  .plan-container .box-container .box-2 .title{
    font-size: 20px;
    color: #121212;
    padding-top: 30px;
  }

  .plan-container .box-container .box-2 .para{
    font-size: 15px;
    color: #707070;
    padding-top: 20px;
  }

  .plan-container .box-container .box-3 .title{
    font-size: 20px;
    color: #121212;
    padding-top: 30px;
  }

  .plan-container .box-container .box-3 .para{
    font-size: 15px;
    color: #707070;
    padding-top: 20px;
  }
